<div class="container-fluid">
  <div class="card" id="movies">
    <div class="card-header d-flex justify-content-end align-items-center">
      <h1 class="visually-hidden">Movies</h1>
      <%= link_to "New", new_movie_path %>
    </div>
    <%= render "list_group", movies: @movies %>
  </div>

  <div class="my-2 d-flex justify-content-center">
    <%= paginate @movies %>
  </div>
</div>
