
<%= render @movie %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %>
  <%= render "likes/form", like: Like.new(likeable: @movie) %>
  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>
