<div id="<%= dom_id director %>">
  <p>
    <strong>Dob:</strong>
    <%= director.date_of_birth.strftime("%A, %B %e, %Y") %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= director.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= director.bio %>
  </p>

</div>
